<div>
    <h1>Registro</h1>
    <form action="/api/usuarios" method="post">
        <label>Nombre</label>
        <input name="name"><br>
        <label>Apellido</label>
        <input name="last_name"><br>
        <label>Email</label>
        <input name="email"><br>        
        <label>Teléfono</label>
        <input name="phone"><br>
        <input type="submit">
    </form>
</div>